.main-header{
    display: flex;
    justify-content: space-between;
    padding:20px 40px;
    background-color: rgb(223, 224, 202); 

    box-shadow: 0 4px 8px gainsboro;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}
.main-header> .logo{

}
.main-header> .btn{

}